
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp

# dependencies
frontend/node_modules
frontend/bower_components
frontend/package-lock.json

# misc
frontend/.sass-cache
frontend/.vscode/**
frontend/connect.lock
frontend/coverage/*
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/app/styles/components/_fs-icons.scss
frontend/public/assets/fonts/fs-icons-preview.html
frontend/public/assets/fonts/fs-icons.eot
frontend/public/assets/fonts/fs-icons.svg
frontend/public/assets/fonts/fs-icons.ttf
frontend/public/assets/fonts/fs-icons.woff
frontend/app/locales/*
frontend/app/locales*
frontend/analytics/analytics.js
frontend/auth/auth.js
frontend/authentications/app/script.js
frontend/authentications/marketplace/script.js
frontend/assets/locales
frontend/results.tap
frontend/.vscode
frontend/vendor/polyfills.js

/.bundle
/db/*.sqlite3
/log/*.log
/tmp
/**/.DS_Store
/db/migrate/*_create_fd_multitenant_*.fd_multitenant.rb
/dump.rdb
.fontcustom-manifest.json
app/assets/stylesheets/newTheme/fonts/fs-icons-preview.html
freshsales_new.iml
public/assets

.byebug_history
.gemtags
.tags
.tags_sorted_by_file
.sass-cache
/.idea
coverage
brakeman-output.tabs
brakeman/brakeman-output.*
/.vagrant
/frontend/dump.rdb
/frontend/package-lock.json
/frontend/analytics/webform.js
/frontend/assets/smartform
/frontend/assets/fonts/bootstrap
/public/web_forms

*.pyc

/spock/*.txt
/spock/*.log
/spock/*.json
frontend/coverage_*
/frontend/analytics/analytics-uncompressed.js
/frontend/analytics/webform-uncompressed.js
/.vscode
vendor/bundle

.ruby-version
.ruby-gemset
/reports/examples.txt
/reports/rspec_run_time.txt
/frontend/xss/xss_vulnerability.txt
/reports/rubocop_errors.txt
/dev_tools/html_injection_vulnerabilities.txt